body {
    background-color: #EEEEEE;
}

hr {
    border-style: dotted none none;
    border-top-style: dotted;
    border-color: #00ADB5;
    width: 5%;
    border-width: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #393E46;
}